@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111827;
  overflow-x: hidden;
}

/* LINKS */
a {
  text-decoration: none;
}

/* BUTTONS */
button {
  cursor: pointer;
}

/* IMAGES */
img {
  max-width: 100%;
  display: block;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}